.header {
  border-color: #282c34;
  background-color: #a0ffec;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%;
  width: 100%;
}

table {
  /*position: absolute; */
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  /* width: 100px; */
}

thead {
  font-size: 12px;
  background-color: #61dafb;
}

tbody {
  font-size: 12px;
  background-color: #51d6bc;
}

body {
  font-size: 12px;
  text-align: center;
  width: 100vh;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

thead tr {
  background-color: #348877;
  color: #ffffff;
  /*text-align: left;*/
  font-size: 10px;
}

th, td {
  padding: 12px 15px;
}

/*
tbody tr {
  border-bottom: 1px solid #dddddd;
}
*/

tbody tr:nth-of-type(even) {
  background-color: #c6fdf2;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #256356;
}

.modal-background {
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: rgb(218, 218, 218);*/
  /*opacity: 0.90;*/
  /*position: fixed;<--<--<-----*/
  /*display: flex;*/
  justify-content: center;
  align-items: center;  
}

.modal-container {
  /*width: 80vw;*/
  /*height: 50vh;*/
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  /*display: flex;*/
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  text-align: center;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.title-close-btn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  display: flex-end;
}

.modal-container .body {
  /*flex: 70%;*/
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
}

.modal-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container .footer button {
  width: 15vw;
  height: 5vh;
  margin: 10px;
  border: none;
  background-color: lightblue;
  color: black;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.button-edit-pencil {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/*
.form-payment {
  background-color: rgb(0, 255, 34);
}
*/
.form-payment input text {
  border-radius: 3px;
}

input[type=text] {
  background-color: #ececec;
  border: none;
  border-bottom: 2px solid rgb(149, 206, 192);
}

input[type=text]:focus {
  background-color: rgb(220, 253, 255);
  border: none;
  border: collapse;
  border-bottom: 2px solid rgb(149, 206, 192);
}

select {
  /*width: 100%;*/
  /*padding: 16px 20px;*/
  border: none;
  /*border-radius: 4px;*/
  background-color: #f1f1f1;
}

html {
  position: center;
  align-self: center;
  align-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.div-filter-payments {
  border-radius: 5px;
  border-color: #282c34;
  background-color: #61dafb;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.div-counter-payments {
  border-radius: 5px;
  border-color: #282c34;
  background-color: #61dafb;
  padding: 10px;
  margin-top: 5px;
  width: 100%;  
}