.App {
  text-align: center;
  font-size: 12px;
}

.header {
  border-color: #282c34;
  background-color: #4abea7;
}

thead {
  font-size: 10px;
  background-color: #61dafb;
}

tbody {
  font-size: 10px;
  background-color: #51d6bc;
}

body {
  font-size: 10px;
}

table {
  border-collapse: collapse;
  /*margin: 25px 0;*/
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #348877;
  color: #ffffff;
  /*text-align: left;*/
  font-size: 10px;
}

th, td {
  padding: 12px 15px;
}

/*
tbody tr {
  border-bottom: 1px solid #dddddd;
}
*/

tbody tr:nth-of-type(even) {
  background-color: #c6fdf2;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #256356;
}
